@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-work-sans: var(--font-work-sans);
}

@theme {
  --color-my-white-50: #ffffff;
  --color-my-white-100: #efefef;
  --color-my-white-200: #dcdcdc;
  --color-my-white-300: #bdbdbd;
  --color-my-white-400: #989898;
  --color-my-white-500: #7c7c7c;
  --color-my-white-600: #656565;
  --color-my-white-700: #525252;
  --color-my-white-800: #464646;
  --color-my-white-900: #3d3d3d;
  --color-my-white-950: #292929;

  --breakpoint-lg-16: 65rem;
  --breakpoint-960px: 60rem;
  --breakpoint-900px: 56.25rem;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  @apply max-w-5xl;
  @apply mx-auto;
  @apply lg-16:px-0;
  @apply p-[16px];
}

details[open] > summary > svg {
  rotate: 0deg;
}

.svg_toggle {
  rotate: 0deg;
}

@media (width < 48rem) {
  .slide-in {
    display: flex;
  }
  .slide-out {
    display: none;
  }
  .sidebar_toggle {
    display: block;
  }
}

@media (width >= 48rem) {
  .full_curriculum {
    scrollbar-gutter: stable;
  }
}
